@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;  
}

nav{
	height: 80px;
	background-color: #d9b48fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px 0px 100px;
	cursor: pointer;
}
nav ul{
	display: flex;
	list-style: none;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 3px;
}
nav .logo{
	font-size: 33px;
	color: white;
	font-weight: 600;
	font-family: Dancing Script;
}
nav ul li{
	margin: 0px 5px;
}
nav ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background-color: white;
	display: block;
	margin: auto;
	transition: 0.6s;
}
nav ul li:hover::after{
	width: 100%;
}
.checkbtn{
	font-size: 30px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
/*-navigation end-*/
.box{
	max-width: 1500px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 5%;
	background-color: #b3c7d6ff ;
	padding-bottom: 140px ;

}
.word{
	padding-top: 80px;
    color: aliceblue;
    font-size: 25px;

}
.btn{
    display: inline-block;
    background: rosybrown;
    color: rgb(252, 235, 235);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 30px 0px;
    border-radius: 50px;
    transition-duration: 0.5s;
    -webkittransition: ease-out;

}
.btn:hover{
    background-color: white;
    border: rgb(134, 77, 3) solid;
    border-radius: 30px;
    border-width: 4px;
    color: rgb(131, 63, 0);
    
}
.port{
	  background-color: #b3c7d6ff;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  padding-top: 6%;
	  padding-left: 6%;
	  padding-bottom: 10%;
}
.pholder{
	text-align: left;
	padding-top: 7%;
	font-size: 16px;
	color: purple;

}
.pholder p{
	font-size: 20px;
	color: mediumpurple;
}
.sung{
	padding-top: 48px;
	font-size: 24px;
}
.sung ul li{
	color: rebeccapurple;
}
.hari{
	background-color: #b3c7d6ff;
	text-align: left;
	padding-top: 64px;
	font-size: 24px;
	padding-bottom: 21.95%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
input[type=text], select {
  width: 40%;
  padding: 12px 20px;
  margin: 16px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 40%;
  padding: 12px 20px;
  margin: 9px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
input[type=text1], select {
  width: 40%;
  padding: 12px 20px 90px;
  margin: 9px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 128px;

}

input[type=submit] {
  width: 20%;
  background-color: rosybrown;
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}
.ram{
	background-color: rosybrown;
	margin-right: 34%;
	box-shadow: 0px 0px 32px black;
	box-sizing: border-box;
	border-radius: 16px;
	color: white;
	text-align: center;
}
.ram h2{
	text-align: center;
	padding-top: 8px;
}
.ram h3{
	text-align: center;
	padding-top: 8px;
}
.ram h2 p{
	text-align: center;
	padding-top: 8px;
}
.ram h3 p{
	text-align: center;
	padding-top: 8px;
}
.sita{
	background-color: #b3c7d6ff;
	text-align: center;
	font-size: 32px;
	padding-left: 160px;
	padding-right: 160px;
	padding-top: 32px;
	padding-bottom: 59px;
}
.sita p{
	background-color: #a9eed1;
	box-shadow: 0px 0px 32px black;
	box-sizing: border-box;
	border-radius: 16px;
}
section{
	background-color: #b3c7d6ff;
	width: 100%;
	height: 800px;
	padding-top: 48px;
	padding-bottom: 640px;

}
.light{
	background-color: #a9eed1;
	text-align: left;
	font-size: 20px;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 8px;
	padding-bottom: 64px;
	box-sizing: border-box;
	border-radius: 8px;
	box-shadow: 0 0 32px black;
	box-sizing: border-box;
	border-radius: 16px;
}
.adi{
	padding-left: 272px;
	background-color: #b3c7d6ff;
}
.adi p{
	font-size: 32px;
	padding-left: 160px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.monk{
	padding-left: 144px;
	background-color: #a9eed1;
}
/*responsive*/
@media(max-width=650px){
	.checkbtn{
		display: block;
		left: 0;
		width: 100px;
	}
}








