@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;  
}

nav{
	height: 5rem;
	background-color: #d9b48fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rem 3.125rem 0rem 6.25rem;
	cursor: pointer;
}
nav ul{
	display: flex;
	list-style: none;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 1.125rem;
	font-weight: 500;
	letter-spacing: 0.188rem;
}
nav .logo{
	font-size: 2.063rem;
	color: white;
	font-weight: 37.5rem;
	font-family: Dancing Script;
}
nav ul li{
	margin: 0rem 0.313rem;
}
nav ul li::after{
	content: '';
	width: 0%;
	height: 0.125rem;
	background-color: white;
	display: block;
	margin: auto;
	transition: 0.6s;
}
nav ul li:hover::after{
	width: 100%;
}
/*-navigation end-*/
.box{
	max-width: 93.75rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 5%;
	background-color: #b3c7d6ff ;
	padding-bottom: 8.75rem ;

}
.word{
	padding-top: 5rem;
    color: aliceblue;
    font-size: 1.563rem;

}
.btn{
    display: inline-block;
    background: rosybrown;
    color: rgb(252, 235, 235);
    padding: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 1.875rem 0rem;
    border-radius: 3.125rem;
    transition-duration: 0.5s;
    -webkittransition: ease-out;

}
.btn:hover{
    background-color: white;
    border: rgb(134, 77, 3) solid;
    border-radius: 1.875rem;
    border-width: 0.25rem;
    color: rgb(131, 63, 0);
    
}
.port{
	  background-color: #b3c7d6ff;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  padding-top: 6%;
	  padding-left: 6%;
	  padding-bottom: 10%;
}
.pholder{
	text-align: left;
	padding-top: 7%;
	font-size: 1rem;
	color: purple;

}
.pholder p{
	font-size: 1.3rem;
	color: mediumpurple;
}
.sung{
	padding-top: 3rem;
	font-size: 1.5rem;
}
.sung ul li{
	color: rebeccapurple;
}
.hari{
	background-color: #b3c7d6ff;
	text-align: left;
	padding-top: 4rem;
	font-size: 1.5rem;
	padding-bottom: 17.3%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
input[type=text], select {
  width: 40%;
  padding: 0.75rem 1.25rem;
  margin: 1rem 0rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 40%;
  padding: 0.75rem 1.25rem;
  margin: 0.563rem 0rem;
  display: inline-block;
  border: 0.063rem solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;

}
input[type=text1], select {
  width: 40%;
  padding: 0.75rem 1.25rem 5.625rem;
  margin: 0.563rem 0;
  display: inline-block;
  border: 0.063rem solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  height: 8rem;

}

input[type=submit] {
  width: 20%;
  background-color: rosybrown;
  color: white;
  padding: 0.875rem 1.25rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}
.ram{
	background-color: rosybrown;
	margin-right: 34%;
	box-shadow: 0 0 2rem black;
	box-sizing: border-box;
	border-radius: 1rem;
	color: white;
	text-align: center;
}
.ram h2{
	text-align: center;
	padding-top: 0.5rem;
}
.ram h3{
	text-align: center;
	padding-top: 0.5rem;
}
.ram h2 p{
	text-align: center;
	padding-top: 0.5rem;
}
.ram h3 p{
	text-align: center;
	padding-top: 0.5rem;
}










